*.otf
*.pkg.tar.*
*.deb
*.tar.gz
*.ttf
/**/pkg/
/**/src/
/utils/argo-rollouts/kubectl-argo-rollouts*
/utils/elixir-ls-bin/*.zip
/utils/google-chrome-97/*.deb
/utils/jless/*.zip
/utils/qrgpg/qrgpg

# Keeps
!/**/PKGBUILD
!/fonts/otf-*/*.otf
!/fonts/ttf-*/*.ttf
