*.otf
*.pkg.tar.*
*.tar.gz
*.ttf
/**/pkg/
/**/src/
/utils/argo-rollouts/kubectl-argo-rollouts*
/utils/google-chrome-97/*.deb
/utils/qrgpg/qrgpg

# Keeps
!/**/PKGBUILD
!/fonts/otf-operator-mono*/*.otf
